.menu {
  width: 12em;
  background: var(--white);
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 0.5em 1em hsl(0deg 5% 49%);
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu button {
  width: 100%;
  justify-content: center;
  color: var(--black-600);
  padding: .5em;
  margin-bottom: 0;
}
.menu button:not(:last-child) {
  border-bottom: 1px solid var(--theme-divider);
  margin-bottom: 0 !important;

}
.menu button:hover {
  color: var(--white);
  background: var(--black-600);
}
.menu button:last-child:hover {
  background: var(--error);
}